<h1> Index </h1>

<% @kittens.each do |kitten| %>
    <div>
        <p><%= kitten.name %></p>
        <p><%= kitten.age %></p>
        <p><%= kitten.cuteness %></p>
        <p><%= kitten.softness %></p>
        <%= button_to "delete", kitten, method: "delete" %>
    </div>
<% end %>

<%= link_to "create", new_kitten_path %>